/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: center;
  z-index: -1;
  background-color: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  transform: translateX(-50%) translateY(-50%);
}

.KraveHeader {
  color: ivory !important;
  font-family: "Satisfy", cursive;
  font-size: 200px;
  text-align: center !important;
}

.container-fluid { 
  text-align: center;
  min-width: 75%; 
  max-height: 100%;
  width: 100px !important; 
}

.card-panel {
  max-width: 15%;
  max-height: 50%;
  border-radius: 20px !important;
  margin: 5px !important;
  padding: 5px !important;
  font-size: 15px;
  text-align: center;
}

#img2,
img {
  border-radius: 20px !important;
  min-width: 100%; 
}

.card-title {
  font-size: 15px;
}

/* End of Cooking Class Output CSS*/
@media only screen and (min-width: 600px) {
  img, #img2 {
    min-width: 100%; 
    max-height: 100% !important; 
  }

  #img3 {
    height: 125px;
  }

  .KraveHeader { 
    font-size: 100px; 
  }

  input::placeholder {
    font-size: 12px;
    font-weight: bold; 
  }



  
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }



@media only screen and (max-width: 600px) {
  img, #img2 {
    min-width: 100%; 
    max-height: 100%; 
  }

  #img3 {
    height: 125px;
  }

  .KraveHeader { 
    font-size: 100px; 
  }

  input::placeholder {
    font-size: 12px;
    font-weight: bold; 
  }

  .card-panel {
    max-width: 100%;
    max-height: 100%;
  }

  
}

@media screen and (max-width: 900px) and (min-width: 600px), (min-width: 1100px){
  #img2, img, #img3 {
    max-width: 100%; 
    height: 200px;
  }
}