/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat; 
  background-size: cover;
  background-attachment: center;
  z-index: -1;
  background-color: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50));
  background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50));
  transform: translateX(-50%) translateY(-50%);
}

.KraveHeader {
  color: ivory !important;
  font-family: "Satisfy", cursive;
  font-size: 200px;
  text-align: center !important;
}

.card-panel {
  border-radius: 20px !important;
  margin: 5px !important;
  padding: 5px !important;
  font-size: 15px;
  text-align: center;
}

#buttons-here{ 
  float: left;
  text-align: center;
  margin: 10px; 
}

.card-title, .card-link{ 
  text-align: center !important;
}

#Recipes, #Cooking-Classes, #Restaurants-Near-You { 
  font-size: 30px !important;
}

img {
  border-radius: 20px !important;
}

#img3 { 
  width: 100% !important; 
}

#menu1{ 
  margin: 10px; 
}
.card-panel { 
  min-width: 30%; 
  max-height: 100% !important;
  float: left;

}
.card-title {
  font-size: 15px;
}


@media (min-aspect-ratio: 16/9) {
  #myVideo {
      width:100%;
      height: auto;
  }
}

}
@media (max-aspect-ratio: 16/9) {
#myVideo { 
  width:auto;
  height: 100%;
}

}

@media screen and (max-width: 320px)  {
  img{ 
    min-width: 100%; 
    max-height: 100%;
  }
  .card-panel {
    min-width: 100%;
    max-height: 100%;
  }
}

@media screen and (max-width: 600px) {
  img {
    min-width: 100%; 
    max-height: 100%; 
  }

  .KraveHeader { 
    font-size: 100px; 
  }
  input::placeholder {
    font-size: 12px;
    font-weight: bold; 
  }
  .card-panel {
    max-width: 100%;
    max-height: 100%;
  }  
}

@media screen and (max-width: 900px) and (min-width: 600px), (min-width: 1100px){

  #img{ 
    height: 310px;
    width: 350px; 
  }

  #img2{
    height: 275px !important;
    width: 350px !important;
  }
  #img3 { 
    max-width: 100% !important; 
  }
  .card-panel {
    max-width: 100px; 
    height: 475px;
    float: left;
    font-size: 20px; 
  }

  #recipesCardpanel{ 
    height: 350px !important;
  }
  .card-title, .card-link{ 
    text-align: center !important;
  }
}

@media screen and (max-width: 1024px)  {
  img{ 
    max-width: 100%; 
  }
  .card-panel {
    min-width: 100%;
    max-height: 100%;
  }
}